h1{
    color: blue
}
.c1{
    border-color: blue;
    width: 300px;
    height: 50px;
    padding: 10px;
    font-size: 15px;
}
.c2{
    height: 45px;
    width: 100px;
    background-color: blue;
    color: white;
    border: 0;
}
.c3,.c5,.c7{
    width: 60px;
    height: 50px;
}
.c4,.c6,.c8{
    background-color: red;
    color: white;
}